
body{
    background: #f3f3f3;
    font-family: 'poppins';

}

.search-item{
    margin-top: 150px;
}

.search-bar {
  flex: 1;
  height: 2px;
  padding: 18px;
  font-size: 16px;
  border-radius: 5px;
  width: 40%;
  border-color:#000;
}

.search-bar::placeholder {
  font-size: 16px;
}

.search-button {
  height: 40px;
  vertical-align: bottom;
  width: 66px;
  background: rgb(233, 74, 25);
  border-width: 1px;
  border-style: solid;
  border-radius: 5px;
}

.search-icon {
  height: 25px;
}

.cart-quantity{
    background-color: rgb(233, 74, 25); 
    width: 30px;
    height: 30px;
    border-radius: 17px;
    padding-top: 7px;
    position: absolute; 
    top:-60%;
    right: -3%;
}



.card-menu{
    padding: 0 10px 30px 10px;
    display:grid;
    grid-template-columns: repeat(auto-fit,minmax(350px,1fr));
    grid-gap:20px 40px;
    margin-top: 40px;

}

.food-items{
    display: grid;
    position: relative;
    grid-template-rows: auto 1fr;
    border-radius: 15px;
    box-shadow: 0 0 15px rgba(0,0,0,0.6);
    transition: 2s ease-in-out;

}

.food-items img{
    position: relative;
    width: 100%;
    height: 280px;
    border-radius: 15px 15px 0 0;
    cursor: pointer;
}
h1{
    grid-column: 1/-1;
    text-align: center;
}

.details{
    padding: 20px 10px;
    display: grid;
    grid-template-rows: auto 1fr 50px;
    grid-row-gap:5px;
}

.details-sub>h5{
    font-weight: 600;
    font-size: 18px;
    margin: 0;
}

.price{
    text-align: right;

}

.quantity-container{
    background-color: #000;
    width: 85px;
    padding: 3px;
}

.quantity-container>button{
    padding: 5px;
    margin: 2px;
    background-color: #fff;
    color: rgb(233, 74, 25);
    border: none;
}

.details>p{
    font-size: 20px;
    line-height: 28px;
    font-weight: 400;
    align-self: stretch;
}

.details>button{
    background: rgb(233, 74, 25);
    border: none;
    color: #000;
    font-size: 16px;
    font-weight: 600;
    border-radius: 5px;
    width: 120px;
    height: 50px;
    cursor: pointer;
    margin-top: 10px;
}

.cart-message{
    color: rgb(233, 74, 25);
    font-size: 19px;
    font-family: sans-serif;
    padding: 10px;
   margin-top: 10px;
   width: 60%;
   border-radius: 7px;
}